
body{
    background-color:rgb(106, 47, 18);
}
.container{
     font-size: 120px;
     margin: 11px;
     margin-left: 50%;
     position: relative;
     text-align: center;
     font-family:' Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     
}
.box{
    border: 10px solid white;
    width:230px;
    height: 150px;
    float: left;
    position: relative;
    right: 350px;
    top: 110px;
    border-top: none;
    border-left: none;
    color: white;
}
#three,#six,#nine{
    border-right: none;
}
#seven,#eight,#nine{
    border-bottom: none;
}
